@import "../../node_modules/normalize-scss/sass/normalize";
@include normalize();

$cream: rgb(255,251,222);
$white: #FCF9EA;

$ff-primary: "Dancing Script", serif;
$ff-secondary: "Lato", serif;

$small: 480px;
$medium: 768px;
$large: 1024px;
$xlarge: 1320px;


@mixin responsive-min($size) {
    @if $size == xs {
        @media all and (min-width: $small) {
            @content;
        }
    } @else if $size == s {
        @media all and (min-width: $medium) {
            @content;
        }
    } @else if $size == m {
        @media all and (min-width: $medium) {
            @content;
        }
    } @else if $size == l {
        @media all and (min-width: $large) {
            @content;
        }
    } @else if $size == xl {
        @media all and (min-width: $xlarge) {
            @content;
        }
        
    }
}

@mixin responsive-max($size) {
    @if $size == xs {
        @media all and (max-width: $small) {
            @content;
        }
    } @else if $size == s {
        @media all and (max-width: $medium) {
            @content;
        }
    } @else if $size == m {
        @media all and (max-width: $medium) {
            @content;
        }
    } @else if $size == l {
        @media all and (max-width: $large) {
            @content;
        }
    }
}

html, body {
    height: 100%;
    color: $white;
    font-family: $ff-secondary;
    font-weight: 300;
    font-size: 18px;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $ff-primary;
}

h1 {
    color: $cream;
    text-align: center;
    margin: 0 0 15px;
    font-size: 64px;

    @media all and (max-width: 1014px) {
        font-size: 40px;
    }
    
    @include responsive-max(xs) {
        font-size: 42px;
        margin-bottom: 0;
    }

}

h2 {
    color: $cream;
    font-size: 48px;
    margin: 40px 0 15px;

    @include responsive-max(xs) {
        margin-top: 0;
    }
}

.clearfix {
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.left, .right {
    height: 100%;
    position: fixed;
    width: 50%;
    @include responsive-max(m) {
        height: auto;
        position: static;
        width: 100%;
    }
}

.save-the-date .left {
    background-image: url('photo-1.jpg');
}
.wedding-day-info .left {
    background-image: url('photo-2.jpg');
}
.hotels .left {
    background-image: url('photo-3.jpg');
}
.venue .left {
    background-image: url('photo-5.jpg');
}

.left {
    background: url('photo-1.jpg') top center;
    background-size: cover;

    @include responsive-max(xs) {
        background-position: top center;
    }

    @include responsive-max(s) {
        background: url(photo-1.jpg) center center no-repeat;
        box-shadow: 0 0 25px 0 white;
        border-radius: 4px;
        height: 0;
        position: absolute;
        top: 160px;
        width: 77.22%;
        padding-top: 64.35%;
        background-size: cover, 65% auto;
        left: 11.44%;
    }

    @include responsive-max(xs) {
        top: 167px;
    }
}

.left-space {
    display: none;

    @include responsive-max(s) {
        display: block;
        padding-top: calc(64.35% + 90px);
        width: 100%;
    }
}

.right {
    min-height: calc(100vh);
    background-position: top left;
    right: 0;
    overflow-y: auto;
}

.container {
    background: url('wood-bg.jpg');
    min-height: calc(100vh - 50px);
    padding: 25px 45px;

    @include responsive-max(xs) {
        padding: 25px 20px;
    }
}

a, a:visited, a:active {
    color: $cream;
}


header {
    @mixin active-style {
        border-bottom: 2px solid $white;
    }

    a:hover {
        @include active-style;
    }

    .menu {
        margin: 0 auto;
        padding: 0;
        list-style: none;

        $li-margin: 8px;
        $menu-width: 111.75px + 140px + 53.67px + 48.52px + ($li-margin * 2 * 4);

        width: $menu-width;
        max-width: 100%;

        li {
            display: inline;
            text-align: center;
            width: 50%;
            float: left;
            margin: 5px 0;
            
            @include responsive-min(l) {
                width: auto;
                float: none;
                margin: 0 $li-margin;
            }

            a {
                font-weight: 700;
                color: $white;
                font-size: 17px;
                text-decoration: none;

                @include responsive-max(s) {
                    font-size: 16px;
                }

                &.active {
                    @include active-style;
                }
            }
        }
        
        @include responsive-min(xl) {
            $li-margin: 18px;
            $menu-width: 111.75px + 140px + 53.67px + 48.52px + ($li-margin * 2 * 4);

            width: $menu-width;

            li {
                margin: 0 $li-margin;
            }
        }
    }
}

section {
    display: none;

    &.active {
        display: block;
    }
}

.save-the-date {
    h2 {
        font-size: 118px;
        text-align: center;
        margin: 75px 0 0;

        @media all and (max-width: 1398px) {
            font-size: 102px;
        }
        @media all and (max-width: 1233px) {
            font-size: 52px;
        }
        
        @include responsive-max(xs) {
            margin-top: 10px;
        }

    }

    h3, h4 {
        font-family: $ff-secondary;

        font-size: 57px;

        @include responsive-max(xs) {
            font-size: 43px;
        }

        text-align: center;
        margin: 0;
    }
    
    h4 {
        font-size: 36px;

        @include responsive-max(xs) {
            font-size: 30px;
        }
    }
}
