{% extends 'page/layout.html' %}

{% block title %}Bridal Party{% endblock %}

{% block main %}
    <h2>Bridal Party</h2>

    <h3>Matron of Honor</h3>

    Meghan Millar, Sister of the Bride

    <h3>Bridesmaids</h3>

    <ul>
        <li>Lauren Doyle, Bride&apos;s Sister in Law</li>
        <li>Catherine Zimmer, Bride&apos;s Cousin</li>
        <li>Gina Wolf, Groom&apos;s Sister</li>
        <li>Kiira Wolf, Groom&apos;s Sister in Law</li>
        <li>Nicole Losacco, Bride&apos;s Friend</li>
        <li>Laura Roche, Bride&apos;s Friend</li>
    </ul>

    <h3>Best Man</h3>

    Andrew Wolf, Brother of the Groom

    <h3>Groomsmen</h3>

    <ul>
        <li>Andrew Wolf, Groom&apos;s Brother</li>
        <li>Jeremy Simmons, Groom&apos;s Brother in Law</li>
        <li>Jeffrey Doyle, Bride&apos;s Brother</li>
        <li>Jacob Millar, Bride&apos;s Brother in Law</li>
        <li>Brad Carrera, Groom&apos;s Friend</li>
        <li>Phil Ebbesen, Groom&apos;s Friend</li>
        <li>Kent Martin, Groom&apos;s Friend</li>
    </ul>
{% endblock %}




