{% extends 'page/layout.html' %}

{% block title %}Hotels{% endblock %}

{% block main %}
    <main>
        <h2>Room Block</h2>

        <p>
            <a href="http://www.theabbeyresort.com">The Abbey Resort</a>
            &mdash; 20 minutes from venue
        </p>

        <p>
            We’ve reserved a room block at a rate of $139 a night.
            Make sure to mention "Doyle-Wolf Wedding" or use group code
            <code>1137E9</code> when reserving your room!
        </p>

        <p>
            Call (800) 709&ndash;1323 and press 2 to reserve your room.
        </p>

        <p>
            We recommend that you book your room soon to guarantee yourself a spot,
            as the Lake Geneva area books quickly!
        </p>

        <h2>Shuttle</h2>

        <p>
            For your convenience, there will be a shuttle to and from our wedding
            available to those guests staying at The Abbey. The shuttle will leave
            from the lobby of The Abbey promptly at 4:30. Please make sure you are 
            ready to go!
        </p>

        <h2>Other Options</h2>

        <a href="http://www.bestwesternwoodstockinn.com">Best Western Woodstock Inn</a>
        &mdash; 15 minutes from venue<br />
        <a href="https://www.choicehotels.com/illinois/woodstock/quality-inn-hotels/il387">Woodstock Quality Inn</a> &mdash; 15 minutes from venue</dd>

    </main>
{% endblock %}
