{% extends 'page/layout.html' %}

{% block main %}
    <main>
        <h2>Schedule</h2>

        <dl>
            <dt>5:00 PM &ndash; 6:30 PM</dt>
            <dd>Cocktails and Appetizers</dd>
            <dt>6:30 PM &ndash; 11:30 PM</dt>
            <dd>Dinner and Dancing</dd>
        </dl>

        <h2>Attire</h2>
        <p>
            Due to the location, we do not recommend heels for women.
            Jackets are not required for men. Please no jeans, or similar casual wear.
        </p>

        <h2>Please Note</h2>

        <p>
            Due to limited capacity at our venue, our celebration
            will be adults only.
        </p>
    </main>
{% endblock %}