{% extends 'page/layout.html' %}

{% block main %}

    {% if complete %}
        {% if coming == 'y' %}
            <h2>
                Thank You
            </h2>
            <p>
                We appreciate you letting us know.
                Feel free to come back later if you need to update your RSVP.
            </p>
            <p>
                Be sure to come back later for wedding day info.
            </p>
        {% else %}
            <h2>
                Sorry You Can't Make It
            </h2>
            <p>
                We appreciate you letting us know.
                Feel free to come back later if you need to update your RSVP.
            </p>
        {% endif %}

    {% elif person %}
        <h2>
            Hi, {{ person.display_name }}!
        </h2>
        <p>
            Let us know who will be joining us from your party.
        </p>

        <div class="checkbox-title">Attending</div>
        <form action="{% url 'rsvp' %}" method="POST" id="people-coming-form">
            {{ people_form.non_field_errors }}

            {% csrf_token %}

            {{ people_form.people.errors }}
            {{ people_form.people }}

            {{ people_form.message.errors }}
            {{ people_form.message.label_tag }}
            {{ people_form.message }}

            {{ people_form.invitation }}
            {{ people_form.person }}

            <input type="hidden" name="form" value="people_form">
            <button type="submit">Submit</button>
        </form>
    {% else %}
        {% if lookup_error %}
            <h2>Not Found</h2>
            <p>
                Please make sure you are using the zip code found on your invitation.
            </p>

        {% else %}
            <h2>RSVP</h2>

            <p>
                Please begin by entering your first and last name as well as the
                zip code on your invitation.
            </p>

        {% endif %}

        <form action="{% url 'rsvp' %}" method="post" id="person-lookup-form">
            {% csrf_token %}
            {{ person_form }}
            <input type="hidden" name="form" value="person_form">
            <button type="submit">OK</button>
        </form>

    {% endif %}
{% endblock %}